// font-size
$fs-0: 16px;
$fs-1: 48px;
$fs-2: 32px;
$fs-3: 14px;
$fs-4: 24px;


// font-weight
$fw-0: 400;
$fw-1: 800;
$fw-2: 700;
$fw-3: 600;
$fw-4: 300;

//margin
$mg-0: 10px;
$mg-1: 20px;
$mg-2: 30px;
$mg-3: 30px;
$mg-4: 96px;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 96px;

//line-height
$lh-0: normal;

//letter spacing
$ls-0: -2px;
$ls-1: -1px;

//word-spacing
$ws-0: normal;
$ws-1: 2px;

//border radius
$br-0: 5px;
$br-1: 50%;

//background-color
$bgcolor-green-0: #00431A;
$bgcolor-green-1: #19a463;
$bgcolor-green-2: #1dbf73;
$bgcolor-grey-0: #F1FDF7;
$bgcolor-grey-1: #c5c6c9;
$bgcolor-grey-2: #e4e5e7;
$bgcolor-white-0: #fff;
$bgcolor-blue-0: #0D084D;
$bgcolor-blue-1: #4A73E8;
$bgcolor-blue-2: #584aff;

//font-color
$color-grey-0: #62646a;
$color-grey-1: #404145;
$color-grey-2: rgb(122, 125, 133);
$color-grey-3: #7a7d85;
$color-grey-4: #95979d;
$color-grey-5: #b5b6ba;
$color-grey-6: rgb(64, 65, 69);
$color-white-0: #fff;
$color-black-1: #222325;
$color-green-0: #003912;
$color-blue-0: #4a73e8;









